.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}

.navbar-title {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

